# ==============================
# Flutter / Dart
# ==============================

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# ==============================
# IDE Files
# ==============================

.idea/
*.iml
.vscode/

# ==============================
# System Files
# ==============================

.DS_Store
*.log
*.swp

# ==============================
# Android
# ==============================

android/.gradle/
android/app/debug
android/app/profile
android/app/release

# ==============================
# iOS
# ==============================

ios/Flutter/.last_build_id

# ==============================
# Generated Docs
# ==============================

doc/api/

# ==============================
# Environment Files
# ==============================

.env*